.loan-calculator {
  width: 100%;
  height: 585px;
  margin-top: 35px;
  background-color: #fff;
  font-family: system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto,
    Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
  @media (min-width: 320px) and (max-width: 768px) {
    height: 100%;
  }
  .container {
    max-width: 1200px;
    margin: 0 auto;
    @media (min-width: 320px) and (max-width: 768px) {
      width: 100%;
      padding-left: 15px;
      padding-right: 15px;
    }

    h1 {
      font-size: 36px;
      line-height: 45px;
      font-weight: 400;
      margin-bottom: 14px;
      @media (min-width: 320px) and (max-width: 768px) {
        font-weight: 600;
      }
    }
    .calculator-main {
      display: flex;
      justify-content: space-between;
      padding-top: 30px;
      flex-wrap: wrap;
      .calculator-left {
        @media (min-width: 320px) and (max-width: 768px) {
          width: 100%;
        }
        h3 {
          font-size: 24px !important;
          font-weight: 400 !important;
          margin-bottom: 20px;
        }
        h4 {
          font-size: 18px !important;
          font-weight: 400 !important;

          margin-bottom: 20px;
          @media (min-width: 320px) and (max-width: 768px) {
            font-size: 16px;
          }
        }
        .ranges {
          margin-top: 35px;
          display: flex;
          flex-direction: column;
          justify-content: space-between;
          height: 250px;
          @media (min-width: 320px) and (max-width: 768px) {
            max-width: 100%;
          }
          .range-values {
            display: flex;
            width: 680px;
            margin: 15px 0;
            justify-content: space-between;
            font-size: 14px;
            @media (min-width: 320px) and (max-width: 768px) {
              width: 100%;
              font-size: 12px;
              opacity: 0.8;
            }
          }
          .range-loan {
            width: 680px;
            display: flex;
            flex-direction: column;
            align-items: flex-start;
            border: 1px solid rgb(128, 128, 128, 0.5);
            border-bottom: 0;
            border-radius: 8px;
            @media (min-width: 320px) and (max-width: 768px) {
              width: 100%;
            }
            label {
              display: flex;
              flex-direction: column;
              border-bottom: none;
              font-size: 14px;
              font-weight: 400;
              padding: 10px 20px 12px;
              .lable-text {
                font-family: 600;
                font-size: 12px;
                opacity: 0.5;
              }
              .inner-amount {
                font-size: 18px;
                @media (min-width: 320px) and (max-width: 768px) {
                  font-size: 16px;
                  font-weight: 600;
                }
              }
            }

            .range-field {
              -webkit-appearance: none;
              position: relative;
              width: 100%;
              height: 1px;
              bottom: -4px;
              background: #ddd;
              transition: opacity 0.2s;
              &::-webkit-slider-thumb {
                -webkit-appearance: none;
                width: 15px;
                height: 15px;
                border-radius: 50%;
                background: #f45369;
              }
            }
          }
        }
      }
    }
    .calculator-right {
      @media (min-width: 320px) and (max-width: 768px) {
        width: 100%;
      }

      .payment-section {
        border-radius: 8px;
        border: 1px solid #eaeaea;
        padding: 24px;
        text-align: center;
        margin-left: 95px;
        min-height: 329px;
        display: flex;
        flex-direction: column;
        @media (min-width: 320px) and (max-width: 768px) {
          margin-left: 0;
          margin-top: 90px;
          padding: 24px 15px;
          min-height: auto;
        }
        .month-payment {
          font-size: 24px !important;
          line-height: 36px;
          margin-bottom: 33px;
          @media (min-width: 320px) and (max-width: 480px) {
            margin-bottom: 14px;
            font-size: 20px !important;
          }
        }
        .month-payment-bottom {
          margin-bottom: 51px;
          @media (min-width: 320px) and (max-width: 768px) {
            margin-bottom: 24px;
          }
          span {
            color: #f45369;
            font-size: 56px;
            font-weight: 600;
            line-height: 70px;
            @media (min-width: 320px) and (max-width: 480px) {
              font-size: 48px;
              line-height: 60px;
            }
          }
        }
      }
      .btn {
        width: 280px;
        background-color: #f45369;
        border-radius: 8px;
        display: inline-block;
        padding: 11px 20px 14px;
        font-size: 24px;
        color: #fff !important;
        line-height: 30px;
        text-align: center;
        border: none;
        cursor: pointer;
        transition: 0.3s linear;
        @media (min-width: 320px) and (max-width: 768px) {
          width: 100%;
        }
      }
    }
  }
}
