.card-section {
  position: relative;
  font-family: system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto,
    Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
  margin-bottom: 60px;
  position: relative;
  background-color: #fff;
  @media (min-width: 320px) and (max-width: 768px) {
    margin-bottom: 0;
    padding-top: 50px;
  }

  .card-slider {
    height: 450px;
    padding-top: 50px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    @media (min-width: 320px) and (max-width: 480px) {
      height: 1000px;
    }
    @media (min-width: 481px) and (max-width: 768px) {
      height: auto;
    }

    .card-slider-top {
      background-color: #fff;
      @media (min-width: 320px) and (max-width: 768px) {
        margin-bottom: 155px;
      }
      .container {
        max-width: 1216px;
        margin: 0 auto;
        @media (min-width: 320px) and (max-width: 768px) {
          width: 100%;
          padding-right: 15px;
          padding-left: 15px;
          margin-right: auto;
          margin-left: auto;
        }

        .slide-title {
          font-size: 36px;
          line-height: 45px;
          font-weight: 400;
          margin-bottom: 14px;
          strong {
            font-weight: 600;
          }
          @media (min-width: 320px) and (max-width: 768px) {
            font-size: 30px;
            margin-bottom: 5px;
            line-height: 37px;
          }
        }
        p {
          font-size: 18px;
          line-height: 23px;
          max-width: 580px;
          @media (min-width: 320px) and (max-width: 768px) {
            font-size: 16px;
          }
        }
      }
    }
    .card-slider-bottom {
      background-color: $secondary;
      padding: 30px 0;
      @media (min-width: 320px) and (max-width: 768px) {
        margin-top: auto;
        background-color: $secondary;
        padding: 34px 0;
      }

      .container {
        max-width: 1216px;
        margin: 0 auto;
        position: relative;
        padding-right: 15px;
        padding-left: 15px;
        @media (min-width: 320px) and (max-width: 768px) {
          display: flex;
          flex-direction: column;
          align-items: center;
          position: relative;
        }

        ul {
          max-width: 63%;
          list-style-type: none;
          display: flex;
          justify-content: space-between;
          margin-bottom: 24px;
          padding-left: 0;
          @media (min-width: 320px) and (max-width: 768px) {
            flex-direction: column;
            max-width: 100%;
            justify-content: center;
            align-items: center;
            margin-top: 40px;
          }
          li {
            font-size: 16px;
            line-height: 24px;
            @media (min-width: 320px) and (max-width: 768px) {
              text-align: center;
              margin-bottom: 18px;
            }
            span {
              display: block;
              color: $main;
              font-family: system-ui, -apple-system, BlinkMacSystemFont,
                "Segoe UI", Roboto, Oxygen, Ubuntu, Cantarell, "Open Sans",
                "Helvetica Neue", sans-serif;
              font-weight: 600;
              font-size: 28px;
              line-height: 35px;
              margin-bottom: 5px;
            }
          }
        }
        .btn {
          width: 280px;
          background-color: #f45369;
          border-radius: 8px;
          display: inline-block;
          padding: 11px 20px 14px;
          font-size: 24px;
          color: #fff !important;
          line-height: 30px;
          text-align: center;
          border: none;
          cursor: pointer;
          transition: 0.3s linear;
          &:hover {
            background-color: #ef3e42;
          }
          @media (min-width: 320px) and (max-width: 768px) {
            width: 100%;
          }
        }
      }
      .card-image {
        position: absolute;
        right: 145px;
        bottom: 0;
        @media (min-width: 320px) and (max-width: 768px) {
          position: unset;
          order: -1;
          width: 315px;
          height: 315px;
          margin-top: -160px;
          text-align: center;
        }
      }
    }
  }
}

.navigate-btns {
  width: 100px;
  display: flex;
  @media (min-width: 320px) and (max-width: 480px) {
    width: 100%;
    justify-content: space-between;
    position: relative;
    .prev-button {
      position: absolute;
      left: 20px;
    }
    .next-button {
      position: absolute;
      right: 20px;
    }
  }
  @media (min-width: 481px) and (max-width: 768px) {
    width: 100%;
    justify-content: space-between;
    position: relative;
    top: -550px;
  }
}
