.dropdown-content {
  width: 100%;
  background-color: aqua;
  position: absolute;
  top: 150px;
  left: 0;
  .conatiner {
    max-width: 1200px;
    margin: 0 auto;
    .content-main {
      display: flex;
      justify-content: center;
    }
  }
}
