.end-cards {
  width: 100%;
  height: 320px;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  padding-top: 20px;
  line-height: 1.5;
  font-family: system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto,
    Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
  @media (min-width: 320px) and (max-width: 768px) {
    height: 100%;
  }
  .end-card-left {
    width: 49.5%;
    height: 100%;
    margin-right: 10px;
    background-color: $secondary;
    border-top-right-radius: 8px;
    border-bottom-right-radius: 8px;
    @media (min-width: 320px) and (max-width: 768px) {
      width: 100%;
      margin-right: 0;
      border-radius: 0;
      margin-bottom: 15px;
    }
    .card-left-content {
      height: 100%;
      display: flex;
      justify-content: flex-end;
      @media (min-width: 320px) and (max-width: 768px) {
        justify-content: initial;
      }
      .content-left {
        width: 100%;
        display: flex;
        max-width: 586px;

        .content-title-img {
          padding-top: 40px;
          padding-bottom: 40px;
          position: relative;
          display: flex;
          flex-direction: column;
          justify-content: space-between;
          flex-grow: 1;
          @media (min-width: 320px) and (max-width: 768px) {
            padding: 24px 15px 0 !important;
          }
          .content-title {
            position: relative;
            z-index: 1;
            h2 {
              font-size: 36px;
              margin-bottom: 0;
              margin-top: 0;
              @media (min-width: 320px) and (max-width: 768px) {
                font-size: 26px;
                margin-bottom: 14px;
              }
            }
            p {
              margin-bottom: 0;
              max-width: 255px;
              font-size: 14px;
              font-weight: 400;
              margin-top: 0;
              @media (min-width: 320px) and (max-width: 768px) {
                font-size: 16px;
                max-width: initial;
              }
            }
          }
          .content-link {
            color: #f45369;
            font-size: 14px;
            display: flex;
            align-items: center;
            @media (min-width: 320px) and (max-width: 768px) {
              padding: 15px 0;
            }
            &:hover {
              color: #830036;
            }
            span {
              margin-right: 10px;
            }
            svg {
              font-size: 20px;
            }
          }
          .content-img {
            height: 100% !important;
            padding-right: 80px;
            max-width: 280px;
            margin: 0 auto;
            position: absolute;
            right: 0;
            top: 0;
            @media (min-width: 320px) and (max-width: 768px) {
              margin-top: -66px;
              position: initial !important;
              padding-right: 0px;
            }
            .img-main {
              width: 100%;
              height: 100%;
              display: flex;
              align-items: flex-end;
              picture {
                display: flex;
                max-width: 100%;
                max-height: 100%;
              }
            }
          }
        }
      }
    }
  }
  .end-card-right {
    width: 49.5%;
    height: 100%;
    padding-right: 0;
    padding-left: 0;
    background-color: #ef3e42;
    border-top-left-radius: 8px;
    border-bottom-left-radius: 8px;
    @media (min-width: 320px) and (max-width: 768px) {
      width: 100%;
      margin-right: 0;
      border-radius: 0;
      margin-top: 20px;
    }
    .card-right-content {
      height: 100%;
      display: flex;
      justify-content: flex-start;
      .content-right {
        width: 100%;
        display: flex;
        max-width: 586px;
        margin: 0 !important;
        padding-right: 15px;
        padding-left: 15px;
        @media (min-width: 320px) and (max-width: 768px) {
          padding-left: 0 !important;
          padding-right: 0 !important;
          min-height: 300px;
        }

        .content-title-img {
          padding-left: 80px;
          padding-top: 40px;
          padding-bottom: 40px;
          position: relative;
          display: flex;
          flex-direction: column;
          justify-content: space-between;
          flex-grow: 1;
          @media (min-width: 320px) and (max-width: 768px) {
            padding: 24px 15px 0 !important;
          }
          .content-title {
            position: relative;
            z-index: 1;
            h2 {
              font-size: 36px;
              margin-bottom: 0;
              margin-top: 0;
              color: #fff;
              @media (min-width: 320px) and (max-width: 768px) {
                font-size: 26px;
                margin-bottom: 14px;
                line-height: 24px;
              }
            }
            p {
              margin-bottom: 0;
              max-width: 255px;
              font-size: 14px;
              font-weight: 400;
              margin-top: 0;
              color: #fff;
              @media (min-width: 320px) and (max-width: 768px) {
                font-size: 15px;
                max-width: 100%;
              }
            }
          }
          .content-link {
            color: #fff;
            font-size: 14px;
            display: flex;
            align-items: center;
            @media (min-width: 320px) and (max-width: 768px) {
              padding: 15px 0;
            }

            span {
              margin-right: 10px;
            }
            svg {
              font-size: 20px;
            }
          }
          .content-img {
            height: 100% !important;
            padding-right: 80px;
            max-width: 200px;
            margin: 0 auto;
            position: absolute;
            right: 0;
            top: 0;
            @media (min-width: 320px) and (max-width: 768px) {
              position: initial !important;
              margin-right: 0;
              margin-top: -55px;
            }
            .img-main {
              width: 100% !important;
              height: 100% !important;
              display: flex;
              align-items: flex-end !important;
              picture {
                display: flex !important;
                max-width: 100%;
                max-height: 100%;
                img {
                  display: flex !important;
                  max-width: 200px;
                  max-height: 225px;
                }
              }
            }
          }
        }
      }
    }
  }
}
