.footer-main {
  width: 100%;
  background: #2e3131;
  padding: 35px 0 24px;
  color: #fff;
  font-size: 14px;
  font-family: system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto,
    Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
  .container {
    max-width: 1200px;
    margin: 0 auto;
    @media (min-width: 320px) and (max-width: 768px) {
      padding-left: 15px;
      padding-right: 15px;
    }
    .footer-rows {
      display: flex;
      justify-content: space-between;
      @media (min-width: 320px) and (max-width: 768px) {
        flex-wrap: wrap;
      }
      .row {
        color: #fff;
        @media (min-width: 320px) and (max-width: 768px) {
          margin-bottom: 34px;
          width: 50%;
          padding-left: 15px;
        }
        h3 {
          font-size: 14px;
          margin-bottom: 10px;
          @media (min-width: 320px) and (max-width: 768px) {
            margin-bottom: 14px;
          }
        }
        ul {
          li {
            margin-bottom: 10px;
            @media (min-width: 320px) and (max-width: 768px) {
              margin-bottom: 14px;
            }
            a {
              color: #fff;
              transition: 0.3s linear;
              &:hover {
                color: $primary;
              }
            }
          }
        }
      }
      .download-links {
        text-align: center;
        @media (min-width: 320px) and (max-width: 768px) {
          width: 100%;
        }
        h3 {
          font-weight: 700;
          font-size: 14px;
          line-height: 18px;
          color: #fafafa;
          margin-bottom: 24px;
          @media (min-width: 320px) and (max-width: 768px) {
            display: none;
          }
        }
        img {
          @media (min-width: 320px) and (max-width: 768px) {
            display: none;
          }
        }
        .mobile {
          display: flex;
          flex-direction: column;
          align-items: center;
          margin-top: 24px;

          li {
            margin-bottom: 16px;
            a {
              display: flex;
              align-items: center;
              background: #fff;
              border-radius: 6px;
              padding: 6px 10px;
              color: #2e3131;
              min-width: 170px;
              width: 170px;
              @media (min-width: 320px) and (max-width: 768px) {
                width: 200px;
                padding: 8px 20px;
              }
              img {
                margin-right: 8px;
                width: 24px;
                height: 24px;

                @media (min-width: 320px) and (max-width: 768px) {
                  display: block;
                }
              }
              p {
                display: flex;
                flex-direction: column;
                margin: 0 !important;
                font-size: 14px;
                line-height: 18px;
                text-align: start;
              }
            }
          }
        }
      }
    }
  }
}
