.bottom-main {
  width: 100%;
  padding-bottom: 24px;
  background-color: #2e3131;
  font-family: system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto,
    Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
  .container {
    max-width: 1200px;
    margin: 0 auto;
    @media (min-width: 320px) and (max-width: 768px) {
      padding-left: 15px;
      padding-right: 15px;
    }
    .footer-bottom {
      display: flex;
      justify-content: flex-start;
      padding-bottom: 20px;
      @media (min-width: 320px) and (max-width: 768px) {
        justify-content: center;
        padding-bottom: 0;
      }
      ul {
        display: flex;
        // flex-wrap: wrap;
        height: 100%;
        align-items: center;
        padding: 0;
        margin: 0;

        li {
          padding: 4px 7px;
          padding-right: 30px;
          @media (min-width: 320px) and (max-width: 768px) {
            padding-right: 20px;
          }
          a {
            color: #fff;
            font-size: 20px;
            &:hover {
              color: $primary;
            }
          }

          .phone {
            display: flex;
            align-items: center;
            justify-content: center;
            border: 1px solid $primary;
            padding: 6px 7px;
            border-radius: 8px;
            svg {
              font-size: 19px;
              font-weight: 900;
              -moz-osx-font-smoothing: grayscale;
              -webkit-font-smoothing: antialiased;
              display: inline-block;
              font-style: normal;
              font-variant: normal;
              text-rendering: auto;
              line-height: 1;
              color: #ef3e42;
            }
            span {
              font-size: 18px;
              font-weight: 600;
              color: #fff;
              padding-left: 5px;
            }
          }
        }
      }
    }
    .footer-down {
      border-top: 1px solid #4a4a4a;
      margin-top: 34px;
      padding-top: 24px;
      color: #fff;
      font-size: 14px;
      @media (min-width: 320px) and (max-width: 768px) {
        margin-top: 15px;
      }
      .down-childs {
        display: flex;
        flex-wrap: wrap;
        justify-content: space-between;
        @media (min-width: 320px) and (max-width: 768px) {
          justify-content: center;
        }

        .child {
          display: flex;
          align-items: center;
          @media (min-width: 320px) and (max-width: 768px) {
            &:not(:nth-child(2)) {
              order: 1;
            }
            &:first-child {
              text-align: center;
            }
          }

          .child-icons {
            display: flex;
            flex-wrap: wrap;
            align-items: center;
            @media (min-width: 320px) and (max-width: 768px) {
              justify-content: center;
              margin-bottom: 15px;
            }
            a {
              padding-left: 30px;
              @media (min-width: 320px) and (max-width: 768px) {
                &:first-child {
                  padding-left: 0;
                }
                &:last-child {
                  margin-top: 20px;
                }
              }
            }
          }
        }
        .content-p {
          display: flex;
          justify-content: center;
          margin-top: 25px;
          align-items: center;
          flex: 0 0 50%;
          max-width: 50%;
          @media (min-width: 320px) and (max-width: 768px) {
            text-align: center;
            flex: initial;
            max-width: initial;
            margin-top: 30px;
          }
          p {
            white-space: pre-wrap;
          }
        }
      }
    }
  }
}
