.navbar {
  width: 100%;
  background: #e8ecf1;
  border-bottom: 2px solid #fff;
  z-index: 1;
  @media (max-width: 768px) {
    display: none;
  }
  .container {
    max-width: 1200px;
    margin: 0 auto;
    .navmain {
      display: flex;
      justify-content: space-between;
      flex-wrap: wrap;
      align-items: center;
      &:last-child {
        margin-right: 15px;
      }
      .nav-ul {
        display: flex;
        .ul-child {
          display: flex;
          align-items: center;
          width: 100%;
          height: 66px;
          white-space: nowrap;
          font-family: "Source Sans Pro ", sans-serif;
          font-weight: 400;
          font-size: 12px;
          text-transform: uppercase;
          padding-right: 15px;
          .li-link {
            height: 66px;
            color: #2e3131;
            cursor: pointer;
            align-items: center;
            display: flex;
            justify-content: center;
            &:hover {
              border-bottom: 2px solid $primary;
            }
          }
          .li-drop {
            display: none;
            z-index: 10;
          }
          .drop-depozit {
            display: none;
            z-index: 10;
          }
          .drop-money {
            display: none;
            z-index: 10;
          }
          .drop-online {
            display: none;
            z-index: 10;
          }

          &:hover {
            .cards-drown {
              visibility: visible;
            }
            .li-drop {
              display: block;
            }
            .drop-depozit {
              display: block;
            }
            .drop-money {
              display: block;
            }
            .drop-online {
              display: block;
            }
          }

          .cards-drown {
            z-index: 10;

            position: absolute;
            width: 100%;
            height: 270px;
            left: 0;
            top: 148px;
            visibility: hidden;
            background-color: #fff;
            text-transform: none;
            font-family: system-ui, -apple-system, BlinkMacSystemFont,
              "Segoe UI", Roboto, Oxygen, Ubuntu, Cantarell, "Open Sans",
              "Helvetica Neue", sans-serif;

            .cards-down-content {
              display: flex;

              .card-down-left {
                display: flex;
                background-color: #fff;
                width: 712px;
                height: 270px;
                padding: 50px 15px 50px 0;
                .card-group-1 {
                  margin-right: 40px;

                  .ul-group {
                    display: flex;
                    flex-direction: column;
                    .card-g-child {
                      padding-bottom: 20px;
                      font-size: 13px;
                      cursor: pointer;
                      a {
                        color: #2e3131;
                        &:hover {
                          color: #f45369;
                        }
                      }

                      &:not(:last-child) {
                        font-weight: 600;
                        font-size: 14px;
                      }
                    }
                  }
                }
                .card-group-2 {
                  margin-right: 40px;

                  .ul-group {
                    display: flex;
                    flex-direction: column;
                    font-size: 13px;
                    cursor: pointer;

                    .card-g-child {
                      padding-bottom: 20px;
                      a {
                        color: #2e3131;
                        &:hover {
                          color: #f45369;
                        }
                      }
                    }
                  }
                }
                .card-group-3 {
                  .ul-group {
                    display: flex;
                    flex-direction: column;
                    font-size: 13px;
                    cursor: pointer;

                    .card-g-child {
                      padding-bottom: 20px;
                      a {
                        color: #2e3131;
                        &:hover {
                          color: #f45369;
                        }
                      }
                    }
                  }
                }
              }
              .card-down-right {
                background: #f4f4f4;
                padding: 30px 0 30px 40px;
                display: flex;
                width: 481px;

                .down-right-main {
                  width: 434px;
                  height: 206px;
                  display: flex;
                  justify-content: space-between;
                  align-items: center;
                  .right-child-1 {
                    .child-title {
                      width: 250px;
                      font-size: 20px;
                      line-height: 30px;
                      font-weight: 400;
                      margin-bottom: 0;
                      text-transform: none;
                      font-family: system-ui, -apple-system, BlinkMacSystemFont,
                        "Segoe UI", Roboto, Oxygen, Ubuntu, Cantarell,
                        "Open Sans", "Helvetica Neue", sans-serif;
                    }
                    .child-des {
                      font-size: 14px;
                      text-transform: none;
                      max-width: 230px;
                      white-space: normal;
                      margin-bottom: 20px;
                      font-family: system-ui, -apple-system, BlinkMacSystemFont,
                        "Segoe UI", Roboto, Oxygen, Ubuntu, Cantarell,
                        "Open Sans", "Helvetica Neue", sans-serif;
                    }
                    .btn {
                      text-transform: none;
                      width: 280px;
                      height: 45px;
                      max-width: 200px;
                      background-color: #f45369;
                      border-radius: 8px;
                      display: inline-block;
                      padding: 6px 10px;
                      margin-top: 30px;
                      font-size: 16px;
                      color: #fff !important;
                      line-height: 30px;
                      text-align: center;
                      border: none;
                      cursor: pointer;
                      font-family: system-ui, -apple-system, BlinkMacSystemFont,
                        "Segoe UI", Roboto, Oxygen, Ubuntu, Cantarell,
                        "Open Sans", "Helvetica Neue", sans-serif;
                      &:hover {
                        background-color: #ef3e42;
                        outline: none;
                      }
                    }
                  }
                  .right-child-2 {
                    display: flex;
                    align-items: center;
                    height: 100%;
                    img {
                      width: 126px;
                      height: 200px;
                    }
                  }
                }
              }
              &::after {
                content: "";
                position: absolute;
                top: 0;
                bottom: 0;
                right: 0;
                background-color: #f4f4f4;
                width: calc((100% - 1186px) / 2);
              }
            }
          }
        }
      }
      .right-nav {
        display: flex;
        justify-content: flex-end;
        cursor: pointer;
        .button {
          background-color: #f45369;
          border-radius: 6px;
          padding: 5px 13px;
          display: flex;

          svg {
            width: 74px;
            height: 22px;
          }
          &:hover {
            background-color: $primary;
          }
        }
      }
    }
  }
}
