.news {
  margin-top: 40px;
  min-height: 300px;
  background-color: $secondary;
  padding-top: 40px;
  padding-bottom: 20px;
  font-family: system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto,
    Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
  @media (min-width: 320px) and (max-width: 768px) {
    padding-top: 24px;
  }
  .container {
    max-width: 1200px;
    margin: 0 auto;
    @media (min-width: 320px) and (max-width: 768px) {
      padding-left: 15px;
      padding-right: 15px;
    }
    .news-top {
      display: flex;
      justify-content: space-between;
      align-items: end;
      padding-bottom: 15px;
      border-bottom: 2px solid #fff;

      .news-title {
        margin-bottom: 0;
        font-size: 36px;
        line-height: 45px;
        font-weight: 500;
        @media (min-width: 320px) and (max-width: 768px) {
          font-size: 28px;
          line-height: 37px;
        }
      }
      .news-link {
        display: flex;
        align-items: center;
        color: #f45369;
        span {
          margin-right: 10px;
          @media (min-width: 320px) and (max-width: 768px) {
            font-weight: 300;
          }
        }
        svg {
          font-size: 22px;
          font-weight: 600;
        }
      }
    }
    .news-bottom {
      display: flex;
      justify-content: space-between;

      .news-content {
        width: 100%;
        padding-top: 40px;
        display: flex;
        justify-content: space-between;
        align-items: center;
        .news-slider {
          display: block;
          width: 100%;
          .slick-prev {
            display: none !important;
          }
          .slick-next {
            right: 5px;
            &::before {
              font-size: 28px;
              opacity: 1;
            }
          }
          a {
            color: black;
            .news-item {
              display: flex;
              cursor: pointer;
              .news-item-day {
                display: flex;
                flex-direction: column;
                align-items: center;
                margin-right: 45px;
                .day {
                  display: flex;
                  justify-content: center;
                  align-items: center;
                  font-size: 24px;
                  width: 48px;
                  height: 48px;
                  border: 1px solid #f45369 !important;
                  border-radius: 50%;
                  margin-bottom: 10px;
                }
              }
              .news-item-content {
                max-width: 220px;
              }
            }
            &:hover {
              .day {
                background-color: $main;
                color: #fff;
              }
              .news-item-content {
                color: $main;
              }
            }
          }
        }
      }
    }
  }
}
