.swiper-nav-btn {
  width: 80px;
  position: relative;
  top: -140px;
  z-index: 10;
  display: flex;
  justify-content: space-between;
  right: -1250px;
  @media (min-width: 320px) and (max-width: 480px) {
    top: -550px;
    left: 0;
    width: 100%;
    padding: 0 15px;
  }
  button {
    border: none;
    background-color: transparent;
    cursor: pointer;

    svg {
      color: rgba(128, 128, 128, 0.51);
      font-size: 26px;
      &:hover {
        color: #000;
      }
    }
  }
}
