.cards {
  width: 100%;
  font-family: system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto,
    Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
  .container {
    max-width: 1200px;
    margin: 0 auto;
    padding-right: 15px;
    padding-left: 15px;
    @media (min-width: 320px) and (max-width: 480px) {
      width: 100%;
    }

    .cards-head {
      margin-top: 20px;
      margin-bottom: 34px;
      .section-title {
        margin-bottom: 10px;
        font-size: 48px;
        line-height: 60px;
        letter-spacing: 0.01em;
        font-weight: 600;
        @media (max-width: 780px) {
          font-size: 24px;
          line-height: 30px;
          letter-spacing: 0.01em;
        }
      }
      .section-text {
        max-width: 785px;
        letter-spacing: 0.01em;
        font-size: 16px;
        margin-bottom: 34px;
        font-weight: 300;
        @media (max-width: 780px) {
          font-size: 14px;
          line-height: 22px;
          margin-bottom: 24px;
        }
      }
    }
    .MuiTabs-flexContainer {
      @media (min-width: 320px) and (max-width: 480px) {
        overflow-x: auto;
        &::-webkit-scrollbar {
          display: none;
        }
      }
    }
    .category-title {
      margin-bottom: 14px;
      font-weight: 600;
      font-size: 36px;
      line-height: 45px;
      letter-spacing: 0.01em;
    }

    .MuiTabs-indicator {
      display: none;
    }

    .category-item-wrapper-first {
      border: 1px solid #eaeaea;
      border-radius: 15px;
      display: flex;
      background: #f9fafb;
      align-items: center;
      padding: 50px;
      position: relative;
      margin-bottom: 35px;
      @media (max-width: 780px) {
        flex-direction: column;
        align-items: center;
        padding: 24px 15px;
        margin-bottom: 24px;
      }
      .item-popular-mobile {
        display: none;
        text-transform: uppercase;
        color: #ff0023;
        font-weight: 600;
        font-size: 18px;
        line-height: 12px;
        letter-spacing: 0.01em;
        margin-bottom: 25px;
        img {
          margin-bottom: -3px;
          margin-right: 4px;
        }
        @media (max-width: 780px) {
          display: block;
        }
      }
      .category-item-title-first-mobile {
        display: none;
        font-size: 28px;
        line-height: 40px;
        font-weight: 600;
        text-align: center;
        margin-bottom: 30px;
        @media (max-width: 780px) {
          display: block;
        }
      }
      .category-item-image {
        margin-right: 58px;
        width: 277px;
        @media (max-width: 780px) {
          margin-right: 0 !important;
          margin-bottom: 20px;
          width: 70%;
          text-align: center;
        }
        img {
          max-width: 100%;
          height: 100%;
          object-fit: contain;
          @media (max-width: 780px) {
            height: auto;
          }
        }
      }
      .category-item-details {
        flex: 1;
        @media (max-width: 780px) {
          width: 100%;
        }
        .item-popular {
          text-transform: uppercase;
          color: #ff0023;
          font-family: system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI",
            Roboto, Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue",
            sans-serif;
          font-size: 18px;
          font-weight: 600;
          line-height: 12px;
          letter-spacing: 0.01em;
          margin-bottom: 25px;
          @media (max-width: 780px) {
            display: none;
          }
          img {
            margin-bottom: -3px;
            margin-right: 2px;
          }
        }
        .category-item-title-first {
          font-size: 34px;
          font-weight: 600;
          margin-bottom: 30px;
          display: block;
          color: #2e3131;
          @media (max-width: 780px) {
            display: none;
          }
        }
        .first-card-ul {
          display: flex;
          margin-bottom: 43px;
          padding-left: 0;
          @media (max-width: 780px) {
            flex-direction: column;
            margin-bottom: 6px !important;
            align-items: center;
          }
          li {
            font-size: 16px;
            line-height: 24px;
            margin-right: 12%;
            @media (max-width: 780px) {
              margin-right: 0;
              margin-bottom: 18px;
              text-align: center;
            }
            span {
              font-size: 20px;
              line-height: 35px;
              color: #2e3131;
              display: block;
              @media (max-width: 780px) {
                font-size: 24px;
              }
            }
            &:last-child {
              margin-right: 0;
            }
          }
        }
        .category-item-buttons {
          display: flex;
          align-items: center;
          @media (max-width: 780px) {
            flex-direction: column;
          }
          .category-item-button-left {
            width: 280px;
            background-color: #f45369;
            border-radius: 8px;
            display: inline-block;
            padding: 11px 20px 14px;
            font-size: 24px;
            color: #fff !important;
            line-height: 30px;
            text-align: center;
            border: none;
            cursor: pointer;
            transition: 0.3s linear;
            @media (max-width: 780px) {
              font-size: 18px;
              line-height: normal;
              width: 100%;
            }
          }
          .category-item-button-right {
            margin-left: 40px;
            font-size: 18px;
            line-height: 23px;
            color: #2e3131;
            @media (max-width: 767px) {
              margin-top: 14px;
              margin-left: 0;
              width: 100%;
              border: 1px solid rgba(46, 49, 49, 0.3);
              border-radius: 8px;
              padding: 11px 20px 14px;
              text-align: center;
            }
          }
        }
      }
    }

    .category-item-wrapper {
      max-width: 33.3333333333%;
      position: relative;
      border-radius: 15px;
      overflow: hidden;
      margin-bottom: 30px;
      height: calc(100% - 30px);
      display: flex;
      flex-direction: column;
      @media (max-width: 780px) {
        max-width: initial;
        width: 100%;
        margin-bottom: 34px;
        text-align: center;

        padding: 20px;
      }
      &::before {
        content: "";
        position: absolute;
        left: 0;
        right: 0;
        bottom: 0;
        top: 20%;
        background: #f9fafb;
        border-radius: 15px;
        z-index: -1;
      }
      .category-item-image {
        max-width: 225px;
        margin: 0 0 20px 24px;
        display: inline-block;
        @media (max-width: 780px) {
          margin-left: auto;
          margin-right: auto;
        }
        img {
          width: 100% !important;
        }
      }
      .category-item-details {
        .category-item-title {
          font-size: 22px;
          line-height: 28px;
          font-family: system-ui;
          font-weight: 600;
          /* margin-bottom: 14px; */
          display: block;
          padding: 0 24px 14px;
          @media (max-width: 780px) {
            border-bottom: 1px solid #e8ecf1;
            padding-bottom: 14px;
            margin-bottom: 14px;
          }
        }
        .details-ul {
          margin-bottom: 14px;
          .detalis-li {
            font-size: 13px;
            line-height: 25px;
            display: flex;
            padding: 0 24px 0px;
            @media (max-width: 780px) {
              justify-content: center;
            }
            &::before {
              content: "";
              min-width: 4px;
              height: 4px;
              border-radius: 50%;
              background-color: #f45369;
              margin-top: 10px;
              margin-right: 8px;
            }
          }
        }

        .category-item-buttons {
          display: flex;
          align-items: center;
          margin-top: auto;
          border-top: 1px solid #e8ecf1;
          @media (max-width: 767px) {
            flex-direction: column;
            border-top: none;
          }
          a {
            font-size: 16px;
            line-height: 20px;
            padding: 14px 24px;
            color: rgba(46, 49, 49, 0.8);
            transition: 0.3s linear;
            @media (max-width: 767px) {
              width: 100%;
            }
            &:first-child {
              border-right: 1px solid #e8ecf1;
              color: #f45369;
              font-weight: 600;
              @media (max-width: 767px) {
                background-color: #f45369;
                border-radius: 8px;
                display: inline-block;
                padding: 11px 20px 14px;
                font-size: 24px;
                color: #fff !important;
                line-height: 30px;
                text-align: center;
                border: none;
                cursor: pointer;
                transition: 0.3s linear;
              }
              &:hover {
                background-color: #f45369;
                color: #fff;
              }
            }
            &:last-child {
              flex: 1;
              @media (max-width: 780px) {
                border: 1px solid rgba(46, 49, 49, 0.3);
                border-radius: 8px;
                padding: 11px 20px 14px;
                text-align: center;
                margin-top: 14px;
              }
              &:hover {
                background-color: #f45369;
                color: #fff;
              }
            }
          }
        }
      }
    }
  }
  .cards-footer {
    border-top: 1px solid #e8ecf1;
    padding-top: 22px;

    .tags {
      ul {
        display: flex;
        align-items: center;
        padding-left: 0;
        list-style: none;
        overflow-x: auto;
        position: relative;
        padding-bottom: 10px;
        padding-right: 50px;
        li {
          margin-right: 15px;
          a {
            white-space: nowrap;
            display: block;
            padding: 10px 15px;
            background: #e8ecf1;
            border-radius: 8px;
            font-style: normal;
            font-weight: 400;
            font-size: 14px;
            line-height: 14px;
            color: #2e3131;
          }
        }
      }
    }
    .footer-text {
      padding-top: 20px;
      padding-bottom: 20px;
      text-align: center;
      padding-right: 15px;
      padding-left: 15px;
      p {
        font-size: 12px;
        color: #2e3131;
      }
    }
    .footer-links {
      background: #f9fafb;
      margin-top: 40px;
      ul {
        width: 100%;
        list-style: none;
        padding-left: 0;
        display: flex;
        align-items: center;
        justify-content: space-between;
        @media (max-width: 780px) {
          flex-direction: column;
          align-items: unset;
        }
        li {
          @media (max-width: 780px) {
            border-bottom: 1px solid #eaeaea;
          }
          a {
            font-size: 14px;
            line-height: 18px;
            color: #2e3131;
            padding: 35px 0;
            display: inline-block;
            @media (max-width: 780px) {
              padding: 18px 0;
            }
          }
        }
      }
    }
  }
}
